<p>
    <b>Established and Conducted :</b> By the ministry of Education, Establishment &amp; finance<br>
    <b>Location : </b>In the capital city, Dhaka, Rupnagar R/A (govt. Residential Area), Road #16, Polloby, Mirpur, Dhaka-1216.<br>
    <b>Environment :</b> Pollution Free (Situated Beside the National Botanical Garden)<br>
    <b>Land Area :</b> Above 3 (2 Seven Storied &amp; 2 Six Storied)<br>
    <b>Number of Class Rooms :</b> 50<br>
    <b>Number of labs :</b> 10<br>
    <b>Number of Computers : </b>26<br>
    <b>Library : </b>One Furnished &amp; enriched Library where about 10,000 Valuable Books are reserve.<br>
    <b>Seminar Room :</b> Four Well furnished Seminar Rooms<br>
    <b>Auditorium : </b>One Furnished.<br>
    <b>Gymnasium : </b>One Modern Gym.<br>
    <b>Lift:</b>  Two.<br>
    <b>Educational Activities Started : </b>From the Year-2006.<br>
    <b>Category of the Institution : </b>Model College conducted by the ministry of Education.<br>
    <b>Number of Students  :</b> 1350 (Academic Session-2011).<br>
    <b>Academic Activities are organized : </b>From class One to Class Twelve.<br>
    <b>Medium of education : </b>Bangla (Special emphasis on English).<br>
    <b>Result of the Public Exam :</b> P.S.C : Excellent J.S.C : Very Excellent S.S.C : Very Excellent H.S.C : Excellent<br>
    <b>Pattern of Administration &amp; Teaching Staff :</b><br>
    Principal-01 (B.C.S Cadre)<br>
    Vice Principal-01 (Directly Appointer by the Ministry of Education)<br>
    Lecture-21 (B.C.S Cadre &amp; Directly Appointer by the Ministry of Education)<br>
    Assistant Teacher-16<br>
    <b>Pattern of Non-Teaching Stuff :</b><br>
    Third Class Employee : Head Clerk, Accountant, Assistance Clerks, Librarian, Computer Operator-04
    4th Class Employee : 18<br>
    <b>Academic Activities Conducted : </b>
    In Winter : From 8-00a.m. to 2-00 p.m. And In summer: From 7-30a.m. to 1-30 p.m.<br>
    <b>Extra- Curriculum Activities:</b> Annual Sports, Cultural Program, Debating Completion, Annual Picnic, Excursion, Scouting, T.V. Channel Program etc.<br>
    Clubs (in active) English Language, Debating Literary Cultural, and Computer. Sports Board of Governors.<br>
    <b>Chairmen:</b> Secretary, Ministry of Education Members: Joint Secretary, Ministry of Establishment. Ministry of Finance, Director General(Secondary &amp; Higher Secondary education), &amp; Chairmen (Secondary &amp; Higher Secondary education, Dhaka) <br>
    <b>Secretary :</b> Principal<br>
    <b>Play Ground :</b> Best Play Ground for playing<br>
    <b>Examination Center : </b>P.S.C,  J.S.C, S.S.C<br>
</p>