<div class="container" style="padding-top: 0;">

    <div class="row" style="padding: 0">
        <div class="col-md-12">
            <div class="widget-main">
                <div class="widget-main-title">
                    <h4 class="widget-title">Events</h4>
                </div>

                <div class="widget-inner">
                    <div id="noticeBody">
                        <div id="tab1">

                            <h3 style="color: #fff;line-height: 32px;padding-left: 15px;">
                                <span id="ContentPlaceHolder1_noticeRepeat_lblNoticeTitle_0"></span>

                                <a class="tabName" href="#tab1-1">
                                    Test Event
                                </a>
                            </h3>
                            <div id="tab1-1" class="noticeDetails">
                                <div>
                                    <br>
                                    <div style="width:800px; margin-left:10px;">
                                        Test Event
                                    </div>
                                    <br>
                                </div>
                                <div>
                                </div>
                            </div>

                            <h3 style="color: #fff;line-height: 32px;padding-left: 15px;">
                                <span id="ContentPlaceHolder1_noticeRepeat_lblNoticeTitle_1"></span>

                                <a class="tabName" href="#tab1-1">
                                    Test Event
                                </a>
                            </h3>
                            <div id="tab1-1" class="noticeDetails">
                                <div>
                                    <br>
                                    <div style="width:800px; margin-left:10px;">
                                        Test Event
                                    </div>
                                    <br>
                                </div>
                                <div>
                                </div>
                            </div>

                            <h3 style="color: #fff;line-height: 32px;padding-left: 15px;">
                                <span id="ContentPlaceHolder1_noticeRepeat_lblNoticeTitle_2"></span>

                                <a class="tabName" href="#tab1-1">
                                    Test Event
                                </a>
                            </h3>
                            <div id="tab1-1" class="noticeDetails">
                                <div>
                                    <br>
                                    <div style="width:800px; margin-left:10px;">
                                        Test Event
                                    </div>
                                    <br>
                                </div>
                                <div>
                                </div>
                            </div>

                            <h3 style="color: #fff;line-height: 32px;padding-left: 15px;">
                                <span id="ContentPlaceHolder1_noticeRepeat_lblNoticeTitle_3"></span>

                                <a class="tabName" href="#tab1-1">
                                    Test Event
                                </a>
                            </h3>
                            <div id="tab1-1" class="noticeDetails">
                                <div>
                                    <br>
                                    <div style="width:800px; margin-left:10px;">
                                        Test Event
                                    </div>
                                    <br>
                                </div>
                                <div>
                                </div>
                            </div>

                            <h3 style="color: #fff;line-height: 32px;padding-left: 15px;">
                                <span id="ContentPlaceHolder1_noticeRepeat_lblNoticeTitle_4"></span>

                                <a class="tabName" href="#tab1-1">
                                    Test Event
                                </a>
                            </h3>
                            <div id="tab1-1" class="noticeDetails">
                                <div>
                                    <br>
                                    <div style="width:800px; margin-left:10px;">
                                        Test Event
                                    </div>
                                    <br>
                                </div>
                                <div>
                                </div>
                            </div>

                            <h3 style="color: #fff;line-height: 32px;padding-left: 15px;">
                                <span id="ContentPlaceHolder1_noticeRepeat_lblNoticeTitle_5"></span>

                                <a class="tabName" href="#tab1-1">
                                    Test Event
                                </a>
                            </h3>
                            <div id="tab1-1" class="noticeDetails">
                                <div>
                                    <br>
                                    <div style="width:800px; margin-left:10px;">
                                        Test Event
                                    </div>
                                    <br>
                                </div>
                                <div>
                                </div>
                            </div>

                            <h3 style="color: #fff;line-height: 32px;padding-left: 15px;">
                                <span id="ContentPlaceHolder1_noticeRepeat_lblNoticeTitle_6"></span>

                                <a class="tabName" href="#tab1-1">
                                    Test Event
                                </a>
                            </h3>
                            <div id="tab1-1" class="noticeDetails">
                                <div>
                                    <br>
                                    <div style="width:800px; margin-left:10px;">
                                        Test Event
                                    </div>
                                    <br>
                                </div>
                                <div>
                                </div>
                            </div>

                            <h3 style="color: #fff;line-height: 32px;padding-left: 15px;">
                                <span id="ContentPlaceHolder1_noticeRepeat_lblNoticeTitle_7"></span>

                                <a class="tabName" href="#tab1-1">
                                    Test Event
                                </a>
                            </h3>
                            <div id="tab1-1" class="noticeDetails">
                                <div>
                                    <br>
                                    <div style="width:800px; margin-left:10px;">
                                        Test Event
                                    </div>
                                    <br>
                                </div>
                                <div>
                                </div>
                            </div>

                            <h3 style="color: #fff;line-height: 32px;padding-left: 15px;">
                                <span id="ContentPlaceHolder1_noticeRepeat_lblNoticeTitle_8"></span>

                                <a class="tabName" href="#tab1-1">
                                    Test Event
                                </a>
                            </h3>
                            <div id="tab1-1" class="noticeDetails">
                                <div>
                                    <br>
                                    <div style="width:800px; margin-left:10px;">
                                        Test Event
                                    </div>
                                    <br>
                                </div>
                                <div>
                                </div>
                            </div>

                            <h3 style="color: #fff;line-height: 32px;padding-left: 15px;">
                                <span id="ContentPlaceHolder1_noticeRepeat_lblNoticeTitle_9"></span>

                                <a class="tabName" href="#tab1-1">
                                    Test Event
                                </a>
                            </h3>
                            <div id="tab1-1" class="noticeDetails">
                                <div>
                                    <br>
                                    <div style="width:800px; margin-left:10px;">
                                        Test Event
                                    </div>
                                    <br>
                                </div>
                                <div>
                                </div>
                            </div>

                            <h3 style="color: #fff;line-height: 32px;padding-left: 15px;">
                                <span id="ContentPlaceHolder1_noticeRepeat_lblNoticeTitle_10"></span>

                                <a class="tabName" href="#tab1-1">
                                    Test Event
                                </a>
                            </h3>
                            <div id="tab1-1" class="noticeDetails">
                                <div>
                                    <br>
                                    <div style="width:800px; margin-left:10px;">
                                        Test Event
                                    </div>
                                    <br>
                                </div>
                                <div>
                                </div>
                            </div>

                            <h3 style="color: #fff;line-height: 32px;padding-left: 15px;">
                                <span id="ContentPlaceHolder1_noticeRepeat_lblNoticeTitle_11"></span>

                                <a class="tabName" href="#tab1-1">
                                    Test Event
                                </a>
                            </h3>
                            <div id="tab1-1" class="noticeDetails">
                                <div>
                                    <br>
                                    <div style="width:800px; margin-left:10px;">
                                        Test Event
                                    </div>
                                    <br>
                                </div>
                                <div>
                                </div>
                            </div>

                            <h3 style="color: #fff;line-height: 32px;padding-left: 15px;">
                                <span id="ContentPlaceHolder1_noticeRepeat_lblNoticeTitle_12"></span>

                                <a class="tabName" href="#tab1-1">
                                    Test Event
                                </a>
                            </h3>
                            <div id="tab1-1" class="noticeDetails">
                                <div>
                                    <br>
                                    <div style="width:800px; margin-left:10px;">
                                        Test Event
                                    </div>
                                    <br>
                                </div>
                                <div>
                                </div>
                            </div>

                            <h3 style="color: #fff;line-height: 32px;padding-left: 15px;">
                                <span id="ContentPlaceHolder1_noticeRepeat_lblNoticeTitle_13"></span>

                                <a class="tabName" href="#tab1-1">
                                    Test Event
                                </a>
                            </h3>
                            <div id="tab1-1" class="noticeDetails">
                                <div>
                                    <br>
                                    <div style="width:800px; margin-left:10px;">
                                        Test Event
                                    </div>
                                    <br>
                                </div>
                                <div>
                                </div>
                            </div>

                            <h3 style="color: #fff;line-height: 32px;padding-left: 15px;">
                                <span id="ContentPlaceHolder1_noticeRepeat_lblNoticeTitle_14"></span>

                                <a class="tabName" href="#tab1-1">
                                    Test Event
                                </a>
                            </h3>
                            <div id="tab1-1" class="noticeDetails">
                                <div>
                                    <br>
                                    <div style="width:800px; margin-left:10px;">
                                        Test Event
                                    </div>
                                    <br>
                                </div>
                                <div>
                                </div>
                            </div>

                            <h3 style="color: #fff;line-height: 32px;padding-left: 15px;">
                                <span id="ContentPlaceHolder1_noticeRepeat_lblNoticeTitle_15"></span>

                                <a class="tabName" href="#tab1-1">
                                    Test Event
                                </a>
                            </h3>
                            <div id="tab1-1" class="noticeDetails">
                                <div>
                                    <br>
                                    <div style="width:800px; margin-left:10px;">
                                        Test Event
                                    </div>
                                    <br>
                                </div>
                                <div>
                                </div>
                            </div>

                            <h3 style="color: #fff;line-height: 32px;padding-left: 15px;">
                                <span id="ContentPlaceHolder1_noticeRepeat_lblNoticeTitle_16"></span>

                                <a class="tabName" href="#tab1-1">
                                    Test Event
                                </a>
                            </h3>
                            <div id="tab1-1" class="noticeDetails">
                                <div>
                                    <br>
                                    <div style="width:800px; margin-left:10px;">
                                        Test Event
                                    </div>
                                    <br>
                                </div>
                                <div>
                                </div>
                            </div>

                            <h3 style="color: #fff;line-height: 32px;padding-left: 15px;">
                                <span id="ContentPlaceHolder1_noticeRepeat_lblNoticeTitle_17"></span>

                                <a class="tabName" href="#tab1-1">
                                    Test Event
                                </a>
                            </h3>
                            <div id="tab1-1" class="noticeDetails">
                                <div>
                                    <br>
                                    <div style="width:800px; margin-left:10px;">
                                        Test Event
                                    </div>
                                    <br>
                                </div>
                                <div>
                                </div>
                            </div>

                            <h3 style="color: #fff;line-height: 32px;padding-left: 15px;">
                                <span id="ContentPlaceHolder1_noticeRepeat_lblNoticeTitle_18"></span>

                                <a class="tabName" href="#tab1-1">
                                    Test Event
                                </a>
                            </h3>
                            <div id="tab1-1" class="noticeDetails">
                                <div>
                                    <br>
                                    <div style="width:800px; margin-left:10px;">
                                        Test Event
                                    </div>
                                    <br>
                                </div>
                                <div>
                                </div>
                            </div>

                            <h3 style="color: #fff;line-height: 32px;padding-left: 15px;">
                                <span id="ContentPlaceHolder1_noticeRepeat_lblNoticeTitle_19"></span>

                                <a class="tabName" href="#tab1-1">
                                    Test Event
                                </a>
                            </h3>
                            <div id="tab1-1" class="noticeDetails">
                                <div>
                                    <br>
                                    <div style="width:800px; margin-left:10px;">
                                        Test Event
                                    </div>
                                    <br>
                                </div>
                                <div>
                                </div>
                            </div>

                            <h3 style="color: #fff;line-height: 32px;padding-left: 15px;">
                                <span id="ContentPlaceHolder1_noticeRepeat_lblNoticeTitle_20"></span>

                                <a class="tabName" href="#tab1-1">
                                    Test Event
                                </a>
                            </h3>
                            <div id="tab1-1" class="noticeDetails">
                                <div>
                                    <br>
                                    <div style="width:800px; margin-left:10px;">
                                        Test Event
                                    </div>
                                    <br>
                                </div>
                                <div>
                                </div>
                            </div>

                            <h3 style="color: #fff;line-height: 32px;padding-left: 15px;">
                                <span id="ContentPlaceHolder1_noticeRepeat_lblNoticeTitle_21"></span>

                                <a class="tabName" href="#tab1-1">
                                    Test Event
                                </a>
                            </h3>
                            <div id="tab1-1" class="noticeDetails">
                                <div>
                                    <br>
                                    <div style="width:800px; margin-left:10px;">
                                        Test Event
                                    </div>
                                    <br>
                                </div>
                                <div>
                                </div>
                            </div>

                            <h3 style="color: #fff;line-height: 32px;padding-left: 15px;">
                                <span id="ContentPlaceHolder1_noticeRepeat_lblNoticeTitle_22"></span>

                                <a class="tabName" href="#tab1-1">
                                    Test Event
                                </a>
                            </h3>
                            <div id="tab1-1" class="noticeDetails">
                                <div>
                                    <br>
                                    <div style="width:800px; margin-left:10px;">
                                        Test Event
                                    </div>
                                    <br>
                                </div>
                                <div>
                                </div>
                            </div>

                            <h3 style="color: #fff;line-height: 32px;padding-left: 15px;">
                                <span id="ContentPlaceHolder1_noticeRepeat_lblNoticeTitle_23"></span>

                                <a class="tabName" href="#tab1-1">
                                    Test Event
                                </a>
                            </h3>
                            <div id="tab1-1" class="noticeDetails">
                                <div>
                                    <br>
                                    <div style="width:800px; margin-left:10px;">
                                        Test Event
                                    </div>
                                    <br>
                                </div>
                                <div>
                                </div>
                            </div>

                            <h3 style="color: #fff;line-height: 32px;padding-left: 15px;">
                                <span id="ContentPlaceHolder1_noticeRepeat_lblNoticeTitle_24"></span>

                                <a class="tabName" href="#tab1-1">
                                    Test Event
                                </a>
                            </h3>
                            <div id="tab1-1" class="noticeDetails">
                                <div>
                                    <br>
                                    <div style="width:800px; margin-left:10px;">
                                        Test Event
                                    </div>
                                    <br>
                                </div>
                                <div>
                                </div>
                            </div>

                            <h3 style="color: #fff;line-height: 32px;padding-left: 15px;">
                                <span id="ContentPlaceHolder1_noticeRepeat_lblNoticeTitle_25"></span>

                                <a class="tabName" href="#tab1-1">
                                    Test Event
                                </a>
                            </h3>
                            <div id="tab1-1" class="noticeDetails">
                                <div>
                                    <br>
                                    <div style="width:800px; margin-left:10px;">
                                        Test Event
                                    </div>
                                    <br>
                                </div>
                                <div>
                                </div>
                            </div>

                            <h3 style="color: #fff;line-height: 32px;padding-left: 15px;">
                                <span id="ContentPlaceHolder1_noticeRepeat_lblNoticeTitle_26"></span>

                                <a class="tabName" href="#tab1-1">
                                    Test Event
                                </a>
                            </h3>
                            <div id="tab1-1" class="noticeDetails">
                                <div>
                                    <br>
                                    <div style="width:800px; margin-left:10px;">
                                        Test Event
                                    </div>
                                    <br>
                                </div>
                                <div>
                                </div>
                            </div>

                            <h3 style="color: #fff;line-height: 32px;padding-left: 15px;">
                                <span id="ContentPlaceHolder1_noticeRepeat_lblNoticeTitle_27"></span>

                                <a class="tabName" href="#tab1-1">
                                    Test Event
                                </a>
                            </h3>
                            <div id="tab1-1" class="noticeDetails">
                                <div>
                                    <br>
                                    <div style="width:800px; margin-left:10px;">
                                        Test Event
                                    </div>
                                    <br>
                                </div>
                                <div>
                                </div>
                            </div>

                            <h3 style="color: #fff;line-height: 32px;padding-left: 15px;">
                                <span id="ContentPlaceHolder1_noticeRepeat_lblNoticeTitle_28"></span>

                                <a class="tabName" href="#tab1-1">
                                    Test Event
                                </a>
                            </h3>
                            <div id="tab1-1" class="noticeDetails">
                                <div>
                                    <br>
                                    <div style="width:800px; margin-left:10px;">
                                        Test Event
                                    </div>
                                    <br>
                                </div>
                                <div>
                                </div>
                            </div>

                            <h3 style="color: #fff;line-height: 32px;padding-left: 15px;">
                                <span id="ContentPlaceHolder1_noticeRepeat_lblNoticeTitle_29"></span>

                                <a class="tabName" href="#tab1-1">
                                    Test Event
                                </a>
                            </h3>
                            <div id="tab1-1" class="noticeDetails">
                                <div>
                                    <br>
                                    <div style="width:800px; margin-left:10px;">
                                        Test Event
                                    </div>
                                    <br>
                                </div>
                                <div>
                                </div>
                            </div>

                            <h3 style="color: #fff;line-height: 32px;padding-left: 15px;">
                                <span id="ContentPlaceHolder1_noticeRepeat_lblNoticeTitle_30"></span>

                                <a class="tabName" href="#tab1-1">
                                    Test Event
                                </a>
                            </h3>
                            <div id="tab1-1" class="noticeDetails">
                                <div>
                                    <br>
                                    <div style="width:800px; margin-left:10px;">
                                        Test Event
                                    </div>
                                    <br>
                                </div>
                                <div>
                                </div>
                            </div>

                            <h3 style="color: #fff;line-height: 32px;padding-left: 15px;">
                                <span id="ContentPlaceHolder1_noticeRepeat_lblNoticeTitle_31"></span>

                                <a class="tabName" href="#tab1-1">
                                    Test Event
                                </a>
                            </h3>
                            <div id="tab1-1" class="noticeDetails">
                                <div>
                                    <br>
                                    <div style="width:800px; margin-left:10px;">
                                        Test Event
                                    </div>
                                    <br>
                                </div>
                                <div>
                                </div>
                            </div>

                            <h3 style="color: #fff;line-height: 32px;padding-left: 15px;">
                                <span id="ContentPlaceHolder1_noticeRepeat_lblNoticeTitle_32"></span>

                                <a class="tabName" href="#tab1-1">
                                    Test Event
                                </a>
                            </h3>
                            <div id="tab1-1" class="noticeDetails">
                                <div>
                                    <br>
                                    <div style="width:800px; margin-left:10px;">
                                        Test Event
                                    </div>
                                    <br>
                                </div>
                                <div>
                                </div>
                            </div>

                            <h3 style="color: #fff;line-height: 32px;padding-left: 15px;">
                                <span id="ContentPlaceHolder1_noticeRepeat_lblNoticeTitle_33"></span>

                                <a class="tabName" href="#tab1-1">
                                    Test Event
                                </a>
                            </h3>
                            <div id="tab1-1" class="noticeDetails">
                                <div>
                                    <br>
                                    <div style="width:800px; margin-left:10px;">
                                        Test Event
                                    </div>
                                    <br>
                                </div>
                                <div>
                                </div>
                            </div>

                            <h3 style="color: #fff;line-height: 32px;padding-left: 15px;">
                                <span id="ContentPlaceHolder1_noticeRepeat_lblNoticeTitle_34"></span>

                                <a class="tabName" href="#tab1-1">
                                    Test Event
                                </a>
                            </h3>
                            <div id="tab1-1" class="noticeDetails">
                                <div>
                                    <br>
                                    <div style="width:800px; margin-left:10px;">
                                        Test Event
                                    </div>
                                    <br>
                                </div>
                                <div>
                                </div>
                            </div>

                            <h3 style="color: #fff;line-height: 32px;padding-left: 15px;">
                                <span id="ContentPlaceHolder1_noticeRepeat_lblNoticeTitle_35"></span>

                                <a class="tabName" href="#tab1-1">
                                    Test Event
                                </a>
                            </h3>
                            <div id="tab1-1" class="noticeDetails">
                                <div>
                                    <br>
                                    <div style="width:800px; margin-left:10px;">
                                        Test Event
                                    </div>
                                    <br>
                                </div>
                                <div>
                                </div>
                            </div>

                            <h3 style="color: #fff;line-height: 32px;padding-left: 15px;">
                                <span id="ContentPlaceHolder1_noticeRepeat_lblNoticeTitle_36"></span>

                                <a class="tabName" href="#tab1-1">
                                    Test Event
                                </a>
                            </h3>
                            <div id="tab1-1" class="noticeDetails">
                                <div>
                                    <br>
                                    <div style="width:800px; margin-left:10px;">
                                        Test Event
                                    </div>
                                    <br>
                                </div>
                                <div>
                                </div>
                            </div>

                            <h3 style="color: #fff;line-height: 32px;padding-left: 15px;">
                                <span id="ContentPlaceHolder1_noticeRepeat_lblNoticeTitle_37"></span>

                                <a class="tabName" href="#tab1-1">
                                    Test Event
                                </a>
                            </h3>
                            <div id="tab1-1" class="noticeDetails">
                                <div>
                                    <br>
                                    <div style="width:800px; margin-left:10px;">
                                        Test Event
                                    </div>
                                    <br>
                                </div>
                                <div>
                                </div>
                            </div>

                            <h3 style="color: #fff;line-height: 32px;padding-left: 15px;">
                                <span id="ContentPlaceHolder1_noticeRepeat_lblNoticeTitle_38"></span>

                                <a class="tabName" href="#tab1-1">
                                    Test Event
                                </a>
                            </h3>
                            <div id="tab1-1" class="noticeDetails">
                                <div>
                                    <br>
                                    <div style="width:800px; margin-left:10px;">
                                        Test Event
                                    </div>
                                    <br>
                                </div>
                                <div>
                                </div>
                            </div>

                            <h3 style="color: #fff;line-height: 32px;padding-left: 15px;">
                                <span id="ContentPlaceHolder1_noticeRepeat_lblNoticeTitle_39"></span>

                                <a class="tabName" href="#tab1-1">
                                    Test Event
                                </a>
                            </h3>
                            <div id="tab1-1" class="noticeDetails">
                                <div>
                                    <br>
                                    <div style="width:800px; margin-left:10px;">
                                        Test Event
                                    </div>
                                    <br>
                                </div>
                                <div>
                                </div>
                            </div>

                            <h3 style="color: #fff;line-height: 32px;padding-left: 15px;">
                                <span id="ContentPlaceHolder1_noticeRepeat_lblNoticeTitle_40"></span>

                                <a class="tabName" href="#tab1-1">
                                    Test Event
                                </a>
                            </h3>
                            <div id="tab1-1" class="noticeDetails">
                                <div>
                                    <br>
                                    <div style="width:800px; margin-left:10px;">
                                        Test Event
                                    </div>
                                    <br>
                                </div>
                                <div>
                                </div>
                            </div>

                            <h3 style="color: #fff;line-height: 32px;padding-left: 15px;">
                                <span id="ContentPlaceHolder1_noticeRepeat_lblNoticeTitle_41"></span>

                                <a class="tabName" href="#tab1-1">
                                    Test Event
                                </a>
                            </h3>
                            <div id="tab1-1" class="noticeDetails">
                                <div>
                                    <br>
                                    <div style="width:800px; margin-left:10px;">
                                        Test Event
                                    </div>
                                    <br>
                                </div>
                                <div>
                                </div>
                            </div>

                            <h3 style="color: #fff;line-height: 32px;padding-left: 15px;">
                                <span id="ContentPlaceHolder1_noticeRepeat_lblNoticeTitle_42"></span>

                                <a class="tabName" href="#tab1-1">
                                    Test Event
                                </a>
                            </h3>
                            <div id="tab1-1" class="noticeDetails">
                                <div>
                                    <br>
                                    <div style="width:800px; margin-left:10px;">
                                        Test Event
                                    </div>
                                    <br>
                                </div>
                                <div>
                                </div>
                            </div>

                            <h3 style="color: #fff;line-height: 32px;padding-left: 15px;">
                                <span id="ContentPlaceHolder1_noticeRepeat_lblNoticeTitle_43"></span>

                                <a class="tabName" href="#tab1-1">
                                    Test Event
                                </a>
                            </h3>
                            <div id="tab1-1" class="noticeDetails">
                                <div>
                                    <br>
                                    <div style="width:800px; margin-left:10px;">
                                        Test Event
                                    </div>
                                    <br>
                                </div>
                                <div>
                                </div>
                            </div>

                            <h3 style="color: #fff;line-height: 32px;padding-left: 15px;">
                                <span id="ContentPlaceHolder1_noticeRepeat_lblNoticeTitle_44"></span>

                                <a class="tabName" href="#tab1-1">
                                    Test Event
                                </a>
                            </h3>
                            <div id="tab1-1" class="noticeDetails">
                                <div>
                                    <br>
                                    <div style="width:800px; margin-left:10px;">
                                        Test Event
                                    </div>
                                    <br>
                                </div>
                                <div>
                                </div>
                            </div>

                            <h3 style="color: #fff;line-height: 32px;padding-left: 15px;">
                                <span id="ContentPlaceHolder1_noticeRepeat_lblNoticeTitle_45"></span>

                                <a class="tabName" href="#tab1-1">
                                    Tender Notice
                                </a>
                            </h3>
                            <div id="tab1-1" class="noticeDetails">
                                <div>
                                    <br>
                                    <div style="width:800px; margin-left:10px;">
                                        Tender Notice-Tailor
                                    </div>
                                    <br>
                                </div>
                                <div>
                                </div>
                            </div>

                            <h3 style="color: #fff;line-height: 32px;padding-left: 15px;">
                                <span id="ContentPlaceHolder1_noticeRepeat_lblNoticeTitle_46"></span>

                                <a class="tabName" href="#tab1-1">
                                    Vacation for Durgapuja, Ashura &amp; Laxmipuja
                                </a>
                            </h3>
                            <div id="tab1-1" class="noticeDetails">
                                <div>
                                    <br>
                                    <div style="width:800px; margin-left:10px;">
                                        Vacation for Durgapuja, Ashura &amp; Laxmipuja
                                    </div>
                                    <br>
                                </div>
                                <div>
                                </div>
                            </div>

                            <h3 style="color: #fff;line-height: 32px;padding-left: 15px;">
                                <span id="ContentPlaceHolder1_noticeRepeat_lblNoticeTitle_47"></span>

                                <a class="tabName" href="#tab1-1">
                                    Kalipuja
                                </a>
                            </h3>
                            <div id="tab1-1" class="noticeDetails">
                                <div>
                                    <br>
                                    <div style="width:800px; margin-left:10px;">
                                        Kalipuja
                                    </div>
                                    <br>
                                </div>
                                <div>
                                </div>
                            </div>

                            <h3 style="color: #fff;line-height: 32px;padding-left: 15px;">
                                <span id="ContentPlaceHolder1_noticeRepeat_lblNoticeTitle_48"></span>

                                <a class="tabName" href="#tab1-1">
                                    Bishwa Ijtema Phase-I
                                </a>
                            </h3>
                            <div id="tab1-1" class="noticeDetails">
                                <div>
                                    <br>
                                    <div style="width:800px; margin-left:10px;">
                                        Bishwa Ijtema Phase-I
                                    </div>
                                    <br>
                                </div>
                                <div>
                                </div>
                            </div>

                            <h3 style="color: #fff;line-height: 32px;padding-left: 15px;">
                                <span id="ContentPlaceHolder1_noticeRepeat_lblNoticeTitle_49"></span>

                                <a class="tabName" href="#tab1-1">
                                    Swarashati Puja
                                </a>
                            </h3>
                            <div id="tab1-1" class="noticeDetails">
                                <div>
                                    <br>
                                    <div style="width:800px; margin-left:10px;">
                                        Swarashati Puja
                                    </div>
                                    <br>
                                </div>
                                <div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
        </div>
    </div>

</div>
