<div style="width:1050px; float:initial; background:#fff">
    <div style="width:780px; float:initial; background:#F1F8E9; padding:10px">
        <h4>Admission Information - Office</h4>


        <form action="" method="post" enctype="multipart/form-data">
            <table class="table table-bordered">
                <input type="hidden" value="Office" name="className" />
                <tbody>
                    <tr>

                        <td>

                            <select name="sessionID" style="width: 95%;" required="" class="smoothborderSelect"></select>
                                
                        </td>

                        <td>

                            <select name="sectionId" style="width: 95%;" required="" class="smoothborderSelect">
                                <option value="">Select Section</option>
                                <option value="SEC-SCIENCE">SCIENCE GROUP</option>
                                <option value="SEC-JUI">JUI SECTION</option>
                                <option value="SEC-JOBA">JOBA SECTION</option>
                                <option value="SEC-HUM">HUMANITIES GROUP</option>
                                <option value="SEC-F">F- SECTION</option>
                                <a href="~/Views/Home/.cshtml">~/Views/Home/.cshtml</a>
                                <option value="SEC-E">E- SECTION</option>
                                <option value="SEC-D">D- SECTION</option>
                                <option value="SEC-C">C SECTION</option>
                                <option value="SEC-BSTU">BUSINESS STUDIES GROUP</option>
                                <option value="SEC-BOKUL">BOKUL SECTION</option>
                                <option value="SEC-BELY">BELY SECTION</option>
                                <option value="SEC-B">B SECTION</option>
                                <option value="SEC-A">A SECTION</option>
                                <option value="class x a">class x a</option>
                            </select>
                        </td>

                        <td> <input type="submit" value="Display" class="success button">  </td>
                    </tr>

                </tbody>
            </table>
        </form>




        <table class="table" style="width:100%; margin:10px auto 0 auto;"></table>
        <table class="table table-hover table-bordered" style="width:100%; margin:auto; ">


            <tbody>
                <tr>
                    <td style="width:100px; ">     </td>
                    <td style="width:500px; font-size:14px;"> <a style="text-decoration:none;" href="index.php?page=AdmissionInformation&amp;deptID=Office&amp;noticeID=">    </a>   </td>


                    <td style="width:64px;"> <img src="images/View_file.png" width="20" height="20"> 0 </td>
                </tr>

                <tr>
                    <td style="width:100px; ">     </td>
                    <td style="width:500px; font-size:14px;"> <a style="text-decoration:none;" href="index.php?page=AdmissionInformation&amp;deptID=Office&amp;noticeID=">    </a>   </td>


                    <td style="width:64px;"> <img src="images/View_file.png" width="20" height="20"> 0 </td>
                </tr>

                <tr>
                    <td style="width:100px; ">     </td>
                    <td style="width:500px; font-size:14px;"> <a style="text-decoration:none;" href="index.php?page=AdmissionInformation&amp;deptID=Office&amp;noticeID=">    </a>   </td>


                    <td style="width:64px;"> <img src="images/View_file.png" width="20" height="20"> 0 </td>
                </tr>

                <tr>
                    <td style="width:100px; ">     </td>
                    <td style="width:500px; font-size:14px;"> <a style="text-decoration:none;" href="index.php?page=AdmissionInformation&amp;deptID=Office&amp;noticeID=">    </a>   </td>


                    <td style="width:64px;"> <img src="images/View_file.png" width="20" height="20"> 0 </td>
                </tr>

                <tr>
                    <td style="width:100px; ">     </td>
                    <td style="width:500px; font-size:14px;"> <a style="text-decoration:none;" href="index.php?page=AdmissionInformation&amp;deptID=Office&amp;noticeID=">    </a>   </td>


                    <td style="width:64px;"> <img src="images/View_file.png" width="20" height="20"> 0 </td>
                </tr>

                <tr>
                    <td style="width:100px; ">     </td>
                    <td style="width:500px; font-size:14px;"> <a style="text-decoration:none;" href="index.php?page=AdmissionInformation&amp;deptID=Office&amp;noticeID=">    </a>   </td>


                    <td style="width:64px;"> <img src="images/View_file.png" width="20" height="20"> 0 </td>
                </tr>

                <tr>
                    <td style="width:100px; ">     </td>
                    <td style="width:500px; font-size:14px;"> <a style="text-decoration:none;" href="index.php?page=AdmissionInformation&amp;deptID=Office&amp;noticeID=">    </a>   </td>


                    <td style="width:64px;"> <img src="images/View_file.png" width="20" height="20"> 0 </td>
                </tr>

                <tr>
                    <td style="width:100px; ">     </td>
                    <td style="width:500px; font-size:14px;"> <a style="text-decoration:none;" href="index.php?page=AdmissionInformation&amp;deptID=Office&amp;noticeID=">    </a>   </td>


                    <td style="width:64px;"> <img src="images/View_file.png" width="20" height="20"> 0 </td>
                </tr>

                <tr>
                    <td style="width:100px; ">     </td>
                    <td style="width:500px; font-size:14px;"> <a style="text-decoration:none;" href="index.php?page=AdmissionInformation&amp;deptID=Office&amp;noticeID=">    </a>   </td>


                    <td style="width:64px;"> <img src="images/View_file.png" width="20" height="20"> 0 </td>
                </tr>

                <tr>
                    <td style="width:100px; ">     </td>
                    <td style="width:500px; font-size:14px;"> <a style="text-decoration:none;" href="index.php?page=AdmissionInformation&amp;deptID=Office&amp;noticeID=">    </a>   </td>


                    <td style="width:64px;"> <img src="images/View_file.png" width="20" height="20"> 0 </td>
                </tr>

                <tr>
                    <td style="width:100px; ">     </td>
                    <td style="width:500px; font-size:14px;"> <a style="text-decoration:none;" href="index.php?page=AdmissionInformation&amp;deptID=Office&amp;noticeID=">    </a>   </td>


                    <td style="width:64px;"> <img src="images/View_file.png" width="20" height="20"> 0 </td>
                </tr>

                <tr>
                    <td style="width:100px; ">     </td>
                    <td style="width:500px; font-size:14px;"> <a style="text-decoration:none;" href="index.php?page=AdmissionInformation&amp;deptID=Office&amp;noticeID=">    </a>   </td>


                    <td style="width:64px;"> <img src="images/View_file.png" width="20" height="20"> 0 </td>
                </tr>

                <tr>
                    <td style="width:100px; ">     </td>
                    <td style="width:500px; font-size:14px;"> <a style="text-decoration:none;" href="index.php?page=AdmissionInformation&amp;deptID=Office&amp;noticeID=">    </a>   </td>


                    <td style="width:64px;"> <img src="images/View_file.png" width="20" height="20"> 0 </td>
                </tr>

                <tr>
                    <td style="width:100px; ">     </td>
                    <td style="width:500px; font-size:14px;"> <a style="text-decoration:none;" href="index.php?page=AdmissionInformation&amp;deptID=Office&amp;noticeID=">    </a>   </td>


                    <td style="width:64px;"> <img src="images/View_file.png" width="20" height="20"> 0 </td>
                </tr>

            </tbody>
        </table>

        <style>
            .pagination {
                display: inline;
                padding: 8px;
                background: #eee;
                margin: 2px;
                font-size: 14px;
            }

                .pagination:hover {
                    background: #ccc;
                }

            .pageNo {
                margin-top: 20px;
            }
        </style>
        <div class="pageNo">






            <li class="pagination"><a href="index.php?page=AdmissionInformation&amp;deptID=Office&amp;pageIDno=1"> 1 </a></li>







            <li class="pagination"><a href="index.php?page=AdmissionInformation&amp;deptID=Office&amp;pageIDno=2"> 2 </a></li>







            <li class="pagination"><a href="index.php?page=AdmissionInformation&amp;deptID=Office&amp;pageIDno=3"> 3 </a></li>







            <li class="pagination"><a href="index.php?page=AdmissionInformation&amp;deptID=Office&amp;pageIDno=4"> 4 </a></li>







            <li class="pagination"><a href="index.php?page=AdmissionInformation&amp;deptID=Office&amp;pageIDno=5"> 5 </a></li>







            <li class="pagination"><a href="index.php?page=AdmissionInformation&amp;deptID=Office&amp;pageIDno=6"> 6 </a></li>







            <li class="pagination"><a href="index.php?page=AdmissionInformation&amp;deptID=Office&amp;pageIDno=7"> 7 </a></li>







            <li class="pagination"><a href="index.php?page=AdmissionInformation&amp;deptID=Office&amp;pageIDno=8"> 8 </a></li>







            <li class="pagination"><a href="index.php?page=AdmissionInformation&amp;deptID=Office&amp;pageIDno=9"> 9 </a></li>





        </div>


    </div>
    <div style="width:249px; float:left; border-right:1px solid #eee">
        <script>
function initmenuR() {
  $('#menuR ul').hide();
  $('#menuR ul').children('.current').parent().show();
  //$('#menuR ul:first').show();
  $('#menuR li a').click(
    function() {
      var checkElement = $(this).next();
      if((checkElement.is('ul')) && (checkElement.is(':visible'))) {
        return false;
        }
      if((checkElement.is('ul')) && (!checkElement.is(':visible'))) {
        $('#menuR ul:visible').slideUp('normal');
        checkElement.slideDown('normal');
        return false;
        }
      }
    );
  }
$(document).ready(function() {initmenuR();});
        </script>

        <style>
            ul#menuR, ul#menuR ul {
                list-style-type: none;
                margin: 0 0 0 0;
                padding: 0;
                width: 90%;
                border-top: 2px solid #eee;
            }

                ul#menuR a {
                    display: block;
                    text-decoration: none;
                }

                ul#menuR li {
                    margin-top: 1px;
                }

                    ul#menuR li a {
                        background: #fff;
                        color: #000;
                        padding: 0.5em;
                        border-bottom: 1px solid #eef;
                    }

                        ul#menuR li a:hover {
                            background: #eee;
                        }

                    ul#menuR li ul li a {
                        background: #fff;
                        color: #000;
                        padding-left: 15px;
                        border-bottom: 1px dotted #aaa;
                    }

                        ul#menuR li ul li a img {
                            padding-right: 5px;
                        }

                        ul#menuR li ul li a:hover, ul#menuR li ul .current a {
                            background: #ddd;
                            border-left: 5px red solid;
                            padding-left: 10px;
                        }

            .code {
                border: 1px solid #ccc;
                list-style-type: decimal-leading-zero;
                padding: 5px;
                margin: 0;
            }

                .code code {
                    display: block;
                    padding: 3px;
                    margin-bottom: 0;
                }

                .code li {
                    background: #ddd;
                    border: 1px solid #ccc;
                    margin: 0 0 2px 2.2em;
                }

            .indent1 {
                padding-left: 1em;
            }

            .indent2 {
                padding-left: 2em;
            }
        </style>

      



    </div>
</div>
