<div style="width:780px; float:initial; background:#F1F8E9; padding:10px">


    <h4>Results - </h4>


    <form action="index.php?page=Results" method="post" enctype="multipart/form-data">
        <table class="table table-bordered">
            <input type="hidden" value="" name="className">
            <tbody>
                <tr>

                    <td>

                        <select name="sessionID" style="width: 95%;" required="" class="smoothborderSelect">
                            <option value="">Select Session</option>
                            <option value="2018">2018</option>
                            <option value="2016">2016</option>
                            <option value="2015-16">2015-16</option>
                            <option value="2015">2015</option>
                            <option value="2014-15">2014-15</option>
                        </select>
                    </td>

                    <td>

                        <select name="sectionId" style="width: 95%;" required="" class="smoothborderSelect">
                            <option value="">Select Section</option>
                            <option value="SEC-SCIENCE">SCIENCE GROUP</option>
                            <option value="SEC-JUI">JUI SECTION</option>
                            <option value="SEC-JOBA">JOBA SECTION</option>
                            <option value="SEC-HUM">HUMANITIES GROUP</option>
                            <option value="SEC-F">F- SECTION</option>
                            <option value="SEC-E">E- SECTION</option>
                            <option value="SEC-D">D- SECTION</option>
                            <option value="SEC-C">C SECTION</option>
                            <option value="SEC-BSTU">BUSINESS STUDIES GROUP</option>
                            <option value="SEC-BOKUL">BOKUL SECTION</option>
                            <option value="SEC-BELY">BELY SECTION</option>
                            <option value="SEC-B">B SECTION</option>
                            <option value="SEC-A">A SECTION</option>
                            <option value="class x a">class x a</option>
                        </select>
                    </td>

                    <td> <input type="submit" value="Display" class="success button">  </td>
                </tr>

            </tbody>
        </table>
    </form>




    <table class="table" style="width:100%; margin:10px auto 0 auto;"></table>
    <table class="table table-hover table-bordered" style="width:100%; margin:auto; ">


        <tbody>
            <tr>
                <td style="width:100px; ">     </td>
                <td style="width:500px; font-size:14px;"> <a style="text-decoration:none;" href="index.php?page=Results&amp;deptID=&amp;noticeID=">    </a>   </td>


                <td style="width:64px;"> <img src="images/View_file.png" width="20" height="20"> 0 </td>
            </tr>

            <tr>
                <td style="width:100px; ">     </td>
                <td style="width:500px; font-size:14px;"> <a style="text-decoration:none;" href="index.php?page=Results&amp;deptID=&amp;noticeID=">    </a>   </td>


                <td style="width:64px;"> <img src="images/View_file.png" width="20" height="20"> 0 </td>
            </tr>

            <tr>
                <td style="width:100px; ">     </td>
                <td style="width:500px; font-size:14px;"> <a style="text-decoration:none;" href="index.php?page=Results&amp;deptID=&amp;noticeID=">    </a>   </td>


                <td style="width:64px;"> <img src="images/View_file.png" width="20" height="20"> 0 </td>
            </tr>

            <tr>
                <td style="width:100px; ">     </td>
                <td style="width:500px; font-size:14px;"> <a style="text-decoration:none;" href="index.php?page=Results&amp;deptID=&amp;noticeID=">    </a>   </td>


                <td style="width:64px;"> <img src="images/View_file.png" width="20" height="20"> 0 </td>
            </tr>

            <tr>
                <td style="width:100px; ">     </td>
                <td style="width:500px; font-size:14px;"> <a style="text-decoration:none;" href="index.php?page=Results&amp;deptID=&amp;noticeID=">    </a>   </td>


                <td style="width:64px;"> <img src="images/View_file.png" width="20" height="20"> 0 </td>
            </tr>

            <tr>
                <td style="width:100px; ">     </td>
                <td style="width:500px; font-size:14px;"> <a style="text-decoration:none;" href="index.php?page=Results&amp;deptID=&amp;noticeID=">    </a>   </td>


                <td style="width:64px;"> <img src="images/View_file.png" width="20" height="20"> 0 </td>
            </tr>

            <tr>
                <td style="width:100px; ">     </td>
                <td style="width:500px; font-size:14px;"> <a style="text-decoration:none;" href="index.php?page=Results&amp;deptID=&amp;noticeID=">    </a>   </td>


                <td style="width:64px;"> <img src="images/View_file.png" width="20" height="20"> 0 </td>
            </tr>

            <tr>
                <td style="width:100px; ">     </td>
                <td style="width:500px; font-size:14px;"> <a style="text-decoration:none;" href="index.php?page=Results&amp;deptID=&amp;noticeID=">    </a>   </td>


                <td style="width:64px;"> <img src="images/View_file.png" width="20" height="20"> 0 </td>
            </tr>

            <tr>
                <td style="width:100px; ">     </td>
                <td style="width:500px; font-size:14px;"> <a style="text-decoration:none;" href="index.php?page=Results&amp;deptID=&amp;noticeID=">    </a>   </td>


                <td style="width:64px;"> <img src="images/View_file.png" width="20" height="20"> 0 </td>
            </tr>

            <tr>
                <td style="width:100px; ">     </td>
                <td style="width:500px; font-size:14px;"> <a style="text-decoration:none;" href="index.php?page=Results&amp;deptID=&amp;noticeID=">    </a>   </td>


                <td style="width:64px;"> <img src="images/View_file.png" width="20" height="20"> 0 </td>
            </tr>

            <tr>
                <td style="width:100px; ">     </td>
                <td style="width:500px; font-size:14px;"> <a style="text-decoration:none;" href="index.php?page=Results&amp;deptID=&amp;noticeID=">    </a>   </td>


                <td style="width:64px;"> <img src="images/View_file.png" width="20" height="20"> 0 </td>
            </tr>

            <tr>
                <td style="width:100px; ">     </td>
                <td style="width:500px; font-size:14px;"> <a style="text-decoration:none;" href="index.php?page=Results&amp;deptID=&amp;noticeID=">    </a>   </td>


                <td style="width:64px;"> <img src="images/View_file.png" width="20" height="20"> 0 </td>
            </tr>

            <tr>
                <td style="width:100px; ">     </td>
                <td style="width:500px; font-size:14px;"> <a style="text-decoration:none;" href="index.php?page=Results&amp;deptID=&amp;noticeID=">    </a>   </td>


                <td style="width:64px;"> <img src="images/View_file.png" width="20" height="20"> 0 </td>
            </tr>

            <tr>
                <td style="width:100px; ">     </td>
                <td style="width:500px; font-size:14px;"> <a style="text-decoration:none;" href="index.php?page=Results&amp;deptID=&amp;noticeID=">    </a>   </td>


                <td style="width:64px;"> <img src="images/View_file.png" width="20" height="20"> 0 </td>
            </tr>

        </tbody>
    </table>

    <style>
        .pagination {
            display: inline;
            padding: 8px;
            background: #eee;
            margin: 2px;
            font-size: 14px;
        }

            .pagination:hover {
                background: #ccc;
            }

        .pageNo {
            margin-top: 20px;
        }
    </style>
    <div class="pageNo">






        <li class="pagination"><a href="index.php?page=Results&amp;deptID=&amp;pageIDno=1"> 1 </a></li>







        <li class="pagination"><a href="index.php?page=Results&amp;deptID=&amp;pageIDno=2"> 2 </a></li>







        <li class="pagination"><a href="index.php?page=Results&amp;deptID=&amp;pageIDno=3"> 3 </a></li>







        <li class="pagination"><a href="index.php?page=Results&amp;deptID=&amp;pageIDno=4"> 4 </a></li>







        <li class="pagination"><a href="index.php?page=Results&amp;deptID=&amp;pageIDno=5"> 5 </a></li>







        <li class="pagination"><a href="index.php?page=Results&amp;deptID=&amp;pageIDno=6"> 6 </a></li>







        <li class="pagination"><a href="index.php?page=Results&amp;deptID=&amp;pageIDno=7"> 7 </a></li>







        <li class="pagination"><a href="index.php?page=Results&amp;deptID=&amp;pageIDno=8"> 8 </a></li>







        <li class="pagination"><a href="index.php?page=Results&amp;deptID=&amp;pageIDno=9"> 9 </a></li>





    </div>


</div>
       