<tr>
    <td>

        <form action="index.php?action=student_details" method="post" enctype="multipart/form-data">
            <table width="500" border="1" cellspacing="0" cellpadding="0" class="projectlist" align="center">
                <tbody>
                    <tr>
                        <td height="33" colspan="3" align="center" valign="top"><strong>Search Student Information</strong></td>
                    </tr>
                    <tr>
                        <td width="129"><strong>Session</strong></td>
                        <td width="23" align="center"><strong>:</strong></td>
                        <td width="348">
                            <label for="studid"></label>
                            <label>
                                <select name="exyear" id="exyear">
                                    <option value="2018"> 2018 </option>

                                </select>
                            </label>
                        </td>
                    </tr>
                    <tr>
                        <td><strong>Class</strong></td>
                        <td align="center"><strong>:</strong></td>
                        <td>
                            <select name="excall" id="excall">
                                <option value="Eight"> Eight </option>
                                <option value="Five"> Five </option>
                                <option value="Four"> Four </option>
                                <option value="Nine"> Nine </option>
                                <option value="Seven"> Seven </option>
                                <option value="Six"> Six </option>
                                <option value="Ten"> Ten </option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td><strong>Shift</strong></td>
                        <td align="center"><strong>:</strong></td>
                        <td>
                            <select name="exshift" id="exshift">
                                <option value="DAY"> DAY</option>
                                <
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td><strong>Section</strong></td>
                        <td align="center"><strong>:</strong></td>
                        <td>
                            <select name="section" id="section">
                                <option value="A"> A </option>
                                <option value="B"> B </option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td><input type="submit" name="button" id="button" value="Search"></td>
                    </tr>
                </tbody>
            </table>

        </form>

    </td>
</tr>