<div style="width:780px; float:initial; background:#F1F8E9; padding:10px">



    <h4>Faculty Members - </h4>





    <table class="table" style="width:100%; margin:10px auto 0 auto;"></table>
    <table class="table table-hover" style="width:100%; margin:auto;">


        <tbody>
            <tr>
                <td style="width:40%;"> <b style="color:brown">  Professor Md. Abdul Hai Talukder </b> <br> <span style="color:green"> Principal</span> </td>

                <td style="width:40%;">   01732840855 <br>  </td>




                <td style="width:10%;">

                    <img src="~/images/AA.jpg" height="40">
                </td>
                

            <tr>
                <td style="width:40%;"> <b style="color:brown">  MD. Abdul Mannan </b> <br> <span style="color:green"> Vice Principal</span> </td>

                <td style="width:40%;">   01716494672 <br>  mannanmdabdul0@gmail.com</td>




                <td style="width:10%;">

                    <img src="~/images/abdul mannan.jpg" height="40">
                </td>
              
            <tr>
                <td style="width:40%;"> <b style="color:brown">  Afroza Yasmin </b> <br> <span style="color:green"> Assistant professor</span> </td>

                <td style="width:40%;">   01714066661 <br>  afrozayasmin@gmail.com</td>




                <td style="width:10%;">

                    <img src="" height="40">
                </td>
               
            <tr>
                <td style="width:40%;"> <b style="color:brown">  Mueid Mustarik </b> <br> <span style="color:green"> Lecturer</span> </td>

                <td style="width:40%;">   01716219457 <br>  mmustarik@gmail.com</td>




                <td style="width:10%;">

                    <img src="" height="40">
                </td>
               

            <tr>
                <td style="width:40%;"> <b style="color:brown">  Nasima Khanom </b> <br> <span style="color:green"> Lecturer</span> </td>

                <td style="width:40%;">   01716624213 <br>  nasima15581@gmail.com</td>




                <td style="width:10%;">

                    <img src="" height="40">
                </td>
               

            <tr>
                <td style="width:40%;"> <b style="color:brown">  MD. Monirul Islam Chowdhury </b> <br> <span style="color:green"> Lecturer</span> </td>

                <td style="width:40%;">   01732285653 <br>  monirc@youketmail.com</td>




                <td style="width:10%;">

                    <img src="~/images/Monirul islam.jpg" height="40">
                </td>
              

            <tr>
                <td style="width:40%;"> <b style="color:brown">  MD. Osman Goni </b> <br> <span style="color:green"> Lecturer</span> </td>

                <td style="width:40%;">   01915031359 <br>  md.osman.goni1981@gmail.com </td>




                <td style="width:10%;">

                    <img src="" height="40">
                </td>
               

            <tr>
                <td style="width:40%;"> <b style="color:brown">  Rojina Sultana </b> <br> <span style="color:green"> Lecturer</span> </td>

                <td style="width:40%;">   01739733432 <br>  rozinapscru@gmail.com</td>




                <td style="width:10%;">

                    <img src="" height="40">
                </td>
               
            <tr>
                <td style="width:40%;"> <b style="color:brown">  MD. Syful Islam </b> <br> <span style="color:green"> Lecturer</span> </td>

                <td style="width:40%;">   01712417470 <br>  syful4321@gmail.com</td>




                <td style="width:10%;">

                    <img src="~/images/Md.osman goni.jpg" height="40">
                </td>
               
            <tr>
                <td style="width:40%;"> <b style="color:brown">  Biddut Kumar Gosh </b> <br> <span style="color:green"> Lecturer</span> </td>

                <td style="width:40%;">   01911931535 <br>  bidduth35kumer@gmail.com </td>




                <td style="width:10%;">

                    <img src="" height="40">
                </td>
               

            <tr>
                <td style="width:40%;"> <b style="color:brown">  MD. Shamsul Islam </b> <br> <span style="color:green"> Lecturer</span> </td>

                <td style="width:40%;">   01716993378 <br>  shamsulislam102@gmail.com</td>




                <td style="width:10%;">

                    <img src="" height="40">
                </td>
               

            <tr>
                <td style="width:40%;"> <b style="color:brown">  MD. Aktaruz Zaman </b> <br> <span style="color:green"> Lecturer</span> </td>

                <td style="width:40%;">   01716719150 <br>  aktaruzzaman.info78@gmail.com</td>




                <td style="width:10%;">

                    <img src="" height="40">
                </td>
              

            <tr>
                <td style="width:40%;"> <b style="color:brown">  MD. Aminur Rahman </b> <br> <span style="color:green"> Lecturer</span> </td>

                <td style="width:40%;">   01712623307 <br>  aminurrahman.1976@gmail.com</td>




                <td style="width:10%;">

                    <img src="~/images/aminur.jpg" height="40">
                </td>
               

            <tr>
                <td style="width:40%;"> <b style="color:brown">  Helal Uddin </b> <br> <span style="color:green"> Lecturer</span> </td>

                <td style="width:40%;">   01716244452 <br>  uddinalhelal786@gmail.com</td>




                <td style="width:10%;">

                    <img src="~/images/muhammad hela.jpg" height="40">
                </td>
               

            <tr>
                <td style="width:40%;"> <b style="color:brown">  S. M. Muzahidul Islam </b> <br> <span style="color:green"> Lecturer</span> </td>

                <td style="width:40%;">   01712619761 <br>  smmuzahid.islam@gmail.com</td>




                <td style="width:10%;">

                    <img src="" height="40">
                </td>
              

            <tr>
                <td style="width:40%;"> <b style="color:brown">  Mohammad Helal Uddin </b> <br> <span style="color:green"> Lecturer</span> </td>

                <td style="width:40%;">   01715752897 <br>  helal14rmsc@gmail.com</td>




                <td style="width:10%;">

                    <img src="" height="40">
                </td>
               

            <tr>
                <td style="width:40%;"> <b style="color:brown">  Homayra Biswas </b> <br> <span style="color:green"> Demonstrator</span> </td>

                <td style="width:40%;">   01718722532 <br>  homairabisurasoi@gmail.com</td>




                <td style="width:10%;">

                    <img src="" height="40">
                </td>
               

            <tr>
                <td style="width:40%;"> <b style="color:brown">  Mrs. Farhana Akthar </b> <br> <span style="color:green"> Demonstrator</span> </td>

                <td style="width:40%;">   01918927153 <br>  farhana_raj@yahoo.com</td>




                <td style="width:10%;">

                    <img src="" height="40">
                </td>
               

            <tr>
                <td style="width:40%;"> <b style="color:brown">  Mahfuza Ahmad </b> <br> <span style="color:green"> Demonstrator</span> </td>

                <td style="width:40%;">   01196196903 <br>  mahfuza.ahmad@gmail.com</td>




                <td style="width:10%;">

                    <img src="~/images/mahfuza ahmed.jpg" height="40">
                </td>
               

            <tr>
                <td style="width:40%;"> <b style="color:brown">  Hasina Sultana </b> <br> <span style="color:green"> Lecturer</span> </td>

                <td style="width:40%;">   01747090370 <br>  hasinacar78@gmail.com</td>




                <td style="width:10%;">

                    <img src="" height="40">
                </td>
               

            <tr>
                <td style="width:40%;"> <b style="color:brown">  MD. Shoriful Hasan </b> <br> <span style="color:green"> Lecturer</span> </td>

                <td style="width:40%;">   01924218132 <br>  shoriful.hasan82@gmail.com</td>




                <td style="width:10%;">

                    <img src="" height="40">
                </td>
               

            <tr>
                <td style="width:40%;"> <b style="color:brown">  Sabrina Banu </b> <br> <span style="color:green"> Lecturer</span> </td>

                <td style="width:40%;">   01721343076 <br>  sabrina.banu71@yahoo.com</td>




                <td style="width:10%;">

                    <img src="~/images/sabrina.jpg" height="40">
                </td>
               

            <tr>
                <td style="width:40%;"> <b style="color:brown">  Arjumand Banu </b> <br> <span style="color:green"> Ass. Teacher</span> </td>

                <td style="width:40%;">   01719485197 <br>  arjumandrhsc2015@gmail.com</td>




                <td style="width:10%;">

                    <img src="" height="40">
                </td>
               

            <tr>
                <td style="width:40%;"> <b style="color:brown">  Marzina Khatun </b> <br> <span style="color:green"> Ass. Teacher</span> </td>

                <td style="width:40%;">   01718410210 <br>  marzinabely@gmail.com</td>




                <td style="width:10%;">

                    <img src="~/images/Marzina.jpg" height="40">
                </td>
               

            <tr>
                <td style="width:40%;"> <b style="color:brown">  Laila Banu </b> <br> <span style="color:green"> Ass. Teacher</span> </td>

                <td style="width:40%;">   01912377396 <br>  lailabanu@gmail.com</td>




                <td style="width:10%;">

                    <img src="~/images/laila.jpg" height="40">
                </td>
               

            <tr>
                <td style="width:40%;"> <b style="color:brown">  MD. Mojibor Rahaman </b> <br> <span style="color:green"> Ass. Teacher</span> </td>

                <td style="width:40%;">   01714339826 <br>  muzibor75@yahoo.com</td>




                <td style="width:10%;">

                    <img src="" height="40">
                </td>
               

            <tr>
                <td style="width:40%;"> <b style="color:brown">  Web Developer </b> <br> <span style="color:green"> Web Developer</span> </td>

                <td style="width:40%;">   01736669229 <br>  mustafacomp@gmail.com</td>




                <td style="width:10%;">

                    <img src="" height="40">
                </td>
               

        </tbody>
    </table>

    <style>
        .pagination {
            display: inline;
            padding: 8px;
            background: #eee;
            margin: 2px;
            font-size: 14px;
        }

            .pagination:hover {
                background: #ccc;
            }

        .pageNo {
            margin-top: 20px;
        }
    </style>
    <div class="pageNo">

    </div>

</div>